<table class="table" *ngIf="books$ | async as books; else loading">
  <thead>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>ISBN10</th>
    <th>ISBN13</th>
    <th>Language</th>
    <th colspan="2">Publisher</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Available</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td [innerHTML]="book.title"></td>
    <td [innerHTML]="book.subtitle"></td>
    <td [innerHTML]="book.isbn10"></td>
    <td [innerHTML]="book.isbn13"></td>
    <td [innerHTML]="book.language"></td>
    <td colspan="2" [innerHTML]="book.publisher"></td>
    <td [innerHTML]="book.publishedYear"></td>
    <td [innerHTML]="book.genres?.join(', ')"></td>
    <td [innerHTML]="book.totalAvailable > 0 ? 'Yes' : 'No'"></td>
  </tr>
  </tbody>
</table>
<ng-template #loading>Loading books...</ng-template>
