<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand">LibraryX</span>

  <!-- Collapse button -->
  <button class="navbar-toggler" (click)="navbarTogglerActive = !navbarTogglerActive">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" [class.show]="navbarTogglerActive">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/home" [routerLinkActive]="'active'">Home</a>
      <a class="nav-item nav-link" routerLink="/books" [routerLinkActive]="'active'">Books</a>
      <a class="nav-item nav-link" routerLink="/borrowings" [routerLinkActive]="'active'">Borrowings</a>
      <a class="nav-item nav-link" routerLink="/account" [routerLinkActive]="'active'">Account</a>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>
</nav>
